@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

/* CSS of Navigation Area */

.mobile-header {
  display: none !important;
}

/* Light Mode */
[data-theme='light'] .bg-green-500 {
  background-color: #45aa48;
}

[data-theme='light'] body {
  background-image: url('../assets/images/bg_light.png');
}

/* Dark Mode */
[data-theme='dark'] .bg-green-500 {
  background-color: #1c681e;
}

[data-theme='dark'] body {
  background-image: url('../assets/images/bg_dark.png');
}

[data-theme='dark'] h1 {
  color: #d5d2d2;
}

[data-theme='dark'] nav ul li a {
  color: #d5d2d2;
}

[data-theme='dark'] nav ul li a:hover {
  color: #fff;
}

.bg-green-500 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; 
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content img {
  width: auto;
  height: 50px;
  padding-left: 30px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-content img:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding-top: 20px;
  margin-left: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1:hover {
  transform: translateY(-5px);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ccc; 
}

nav ul li.active a {
  text-decoration: none;
  position: relative;
}

nav ul li.active a::after {
  content: '';
  position: absolute;
  bottom: -14px; 
  left: 0;
  width: 100%;
  height: 6px; 
  background-color: #8D4D22; 
}

/* Switch Slider Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #93C0FF;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "🌞"; 
  font-size: 15px; 
  background-color:#93C0FF;
  border: 1px solid gray; 
  top: 4px;
  left: 4px;
  transition: transform 0.4s;
}

input:checked + .slider:before {
  content: "🌜";
  background-color:#232749; 
  border: 1px solid #ccc; 
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: #232749;
}

input:focus + .slider {
  box-shadow: 0 0 1px #232749;
}

.slider.round {
  left: 20px;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End of Switch Slider Styles */
/* End of CSS of Navigation Area */

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: 3rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h2:hover, .goal .goal-actions button:hover {
  transform: translateY(-5px);
}

[data-theme='dark'] h2 {
  color: #d5d2d2;
}

#goalsContainer {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(207, 207, 207, 0.4);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.goal, .empty {
  width: calc(21.4% - 20px);
  height: 250px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1rem 1rem;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.empty {
  min-height: 100px;
  align-items: center;
  justify-content: center;
}

.addButton {
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

.goal .goal-header {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.goal .goal-datetime {
  font-size: 0.8rem;
  color: #666;
  margin-right: 5rem;
}

.goal .goal-actions {
  display: flex;
  order: 2;
}

.goal .goal-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  color: #45aa48;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.addButton {
  width: 10%; 
  padding: 0.5rem;
  background-color: #45aa48;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1rem 45%;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] .addButton {
  background-color: #1c681e;
  color: #ccc;
}

[data-theme='dark'] .goal, [data-theme='dark'] .empty {
  background-color: #d5d2d2;
}

.goal:hover, .addButton:hover, .empty:hover {
  transform: scale(1.05); 
}

.goal h3, .empty {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.goal p, .modal-content p {
  font-size: 1.1rem;
  color: #666;
  text-align: center;
  margin-bottom: 0.5rem;
}

.goal .description {
  overflow-y: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-50px);
}

#editGoalModal .modal-content {
  width: 50%;
}

.modal-content.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-content h2 {
  color: #666;
  text-shadow: none;
  margin-top: 0;
  margin: 0.5rem;
}

.modal-content input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #888; 
  background-color: #fff; 
  outline: none;
}

.modal-content input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 1rem;
  border: none; 
  cursor: pointer; 
}

.modal-content input[type=text], .modal-content textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button {
  background-color: #45aa48;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-content button:hover {
  transform: scale(1.02); 
  background-color: #379938;
}

.modal-content h2 {
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Tablet Responsive Styles */
@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS of Navigation Area */
  .header-content img {
    height: 40px;
  }

  h1 {
    font-size: 1rem; 
  }

  nav ul li {
    margin-right: 20px; 
  }

  nav ul li a {
    font-size: 0.8rem; 
  }

  .switch {
    width: 60px; 
    height: 24px;
  }

  .slider {
    width: 40px; 
    height: 24px;
    border-radius: 24px;
  }

  .slider:before {
    font-size: 12px; 
    top: 2px;
    left: 2px; 
  }

  input:checked + .slider:before {
    transform: translateX(16px);
  }
  /* End of CSS of Navigation Area */

  #editGoalModal .modal-content {
    width: 80%;
  }
  
  #goalsContainer {
    margin-top: 1rem;
  }
  
  .goal, .empty {
    width: 40%;
    height: 200px;
  }

  .addButton {
    width: 20%;
    min-height: 50px;
    padding: 0.5rem;
    margin: 0.5rem 40%;
  }

  .goal .goal-datetime {
    font-size: 0.6rem;
    margin-right: 1rem;
  }

  .goal .happens {
    font-size: 0.8rem;
  }

  .modal-content h2 {
    font-size: 1.25rem;
  }
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 767px) {
   
  /* CSS of Navigation Area */
  header:not(.mobile-header) {
    display: none;
  }
  
  .mobile-header {
    display: block !important;
  }

  .mobile-header img {
    height: 35px;
    padding-left: 10px;
  }

  .mobile-header .header-content {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .mobile-header .left-section {
    flex: 1; 
    display: flex;
    align-items: center; 
  }
  
  .mobile-header .left-section h1 {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  
  .mobile-header .right-section .menu-toggle {
    padding-right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }  

  .mobile-header {
    display: none;
  }

  [data-theme='dark'] .mobile-nav {
    background-color: #1c681e;
  }

  .mobile-nav {
    border-top: 3px solid #fff !important; 
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #45aa48;
    border-top: none;
    border-radius: 0 0 0 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0.5, 0);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  }

  .mobile-nav.show-nav {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease, visibility 0s linear 0s;
  }

  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
  }

  .mobile-nav ul li {
    border-bottom: 3px solid #fff; 
    margin: 0;
  }

  .mobile-nav ul li:last-child {
    border-bottom: none; 
  }

  .mobile-nav ul li a {
    display: block;
    font-size: 0.8rem; 
    padding: 10px 10px;
    text-decoration: none;
    color: #fff; 
  }

  .mobile-nav ul li a:hover {
    background-color: #ccc;
  }

  nav ul li.active a::after {
    bottom: 3px; 
    height: 2px; 
  }

  .switch {
    width: 60px; 
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .slider {
    width: 40px; 
    height: 24px;
    border-radius: 24px;
  }

  .slider:before {
    font-size: 12px; 
    top: 2px;
    left: 2px; 
  }

  input:checked + .slider:before {
    transform: translateX(16px);
  }
  /* End of CSS of Navigation Area */

  h2 {
    font-size: 1.1rem;
    margin-top: 2rem; 
  }

  #editGoalModal .modal-content {
    width: 80%;
  }

  #goalsContainer {
    margin-top: 0.8rem;
  }
  
  .goal, .empty {
    width: 40%;
    height: 150px;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .addButton {
    width: 30%;
    font-size: 0.8rem;
    min-height: 50px;
    padding: 0.5rem;
    margin: 0.5rem 35%;
  }

  .goal h3, .empty {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  
  .goal p, .modal-content p {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .goal .goal-datetime {
    font-size: 0.35rem;
    margin-right: 1rem;
  }

  .goal .goal-actions button {
    font-size: 0.5rem;
    margin-left: 0.5rem;
  }

  .goal .happens {
    font-size: 0.5rem;
  }

  .modal-content {
    border-radius: 0.25rem;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .modal-content h2 {
    font-size: 1rem;
  }

  .modal-content input[type=text], .modal-content textarea {
    padding: 6px 10px;
    margin: 4px 0;
  }
  
  .modal-content button {
    padding: 7px 10px;
    margin: 4px 0;
  }

}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background: #1c681e; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1c681e; 
}

[data-theme='dark'] ::-webkit-scrollbar-track {
  background: #ccc; 
}

[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: #45aa48;
}

[data-theme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: #45aa48;
}

/* End of Scrollbar Styles */
