@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.login-container {
    width: 24rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.login-container:hover {
    transform: scale(1.05); 
}

.modal-open .login-container:hover {
  transform: none; 
}

.login-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.app-title {
    font-size: 2.7rem;
    font-weight: 700;
    text-align: center;
    color: #1c681e;
    margin-bottom: 1rem;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.app-title:hover {
    transform: translateY(-5px);
}

.login-text {
  font-size: 1.1rem;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form {
  margin-bottom: 1rem;
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

#eyeIcon {
  font-size: 1.2rem;
  color: #666;
}

#passwordInput {
  padding-right: 30px; 
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #45aa48;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #368e3b;
    transform: translateY(-3px); 
  }

.login-button:hover {
  background-color: #368e3b;
}

/* CSS of Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  animation: fadeInOverlay 2s ease forwards;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-button-container {
  margin-top: 1rem;
}

.modal-close {
  background-color: #45aa48;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-close:hover {
  background-color: #368e3b;
}

#modalMessage {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}

/* End of CSS of Modals */

/* Mobile Responsive */
@media only screen and (max-width: 768px) {
  .login-container {
    width: 50%;
    padding: 1rem;
  }

  .app-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-image: url('./assets/images/mobile_bg.png');
  }

  .login-container {
    width: 80%;
    padding: 1rem;
  }

  .login-input,
  .login-button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .login-title {
    font-size: 1.2rem;
  }

  .app-title {
    font-size: 1.8rem;
  }

  /* CSS of Modals */
  .modal {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }

  .modal-content {
    background-color: #fff;
    padding: 1.5rem;
  }

  #modalMessage {
    font-size: 1.2rem;
  }

  /* End of CSS of Modals */
}
